// Button base
@mixin ghost-button($font, $font-size, $font-color, $border-size, $border-color, $padding, $transition-speed, $hover-color)
{
  display:inline-block;
  text-decoration:none;
  text-transform:uppercase;
  font-family: $font;
  font-size: $font-size;
  color:$font-color;
  border:$border-size solid $border-color;
  padding:$padding;
  -webkit-transition: color $transition-speed, background $transition-speed;
  transition: color $transition-speed, background $transition-speed;
  &:hover
  {
    background:$border-color;
    color:$hover-color;
  }
}

.button{
    width: 300px;
    height: 50px;
    margin: auto;
    overflow: hidden;
    background-color: $primary;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s;
    @include font-family("yugothic");
    @include mq-up(lg) {
        width: 600px;
        height: 80px;
        font-size: 20px;
    }
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -20%;
    transition: all .5s ease-in-out;
    animation: btn-hover 8s infinite ease-out normal backwards;
  }
  &:hover {
    background-color:#fff;
    border: 2px solid $primary;
    color: $primary;
    opacity: .9;
    &:before {
     transition: all .8s ease-in-out;
    }
  }
}
.p-from_button {
    background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, rgba($accent, 1) 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}
.p-from_button:hover {
   	color: $main-font;
	background-color: $accent;
	background-position: -100% 100%;
}
@keyframes btn-hover {
    0% {transform: skewX(-45deg) translateX(-10px);}
    85% {transform: skewX(-45deg) translateX(-10px);}
    100% {transform: skewX(-45deg) translateX(600px)}
}
