/*============================
#is-scrolled.l-header
============================*/

.l-header {}

.c-nav {}

.c-nav_logo {}

.logo {}


/*============================
#is-menuclose.c-nav_toggle
============================*/

.c-nav_toggle {}

.menu_tag {}

.menu_button {}


/*============================
#is-open.c-menu
============================*/

.c-menu {}

.c-menu_body {}

.menu_link {}

.menu_entry {}


/*============================
#loader.l-loading
============================*/

.l-loading {
    display: none;
}

header {
    display: none;
}


/*============================
#loader-text.p-loading.tagline
============================*/

.p-loading.tagline {}

.l-keyviasual {
    position: relative;
    margin: auto;
    @include mq-up(md) {
        top: 56px;
        right: 10%;
    }
    @include mq-up(lg) {
        left: 0;
        right: 0;
    }
}

.p-keyviasual {
    height: inherit;
    max-width: 1280px;
    max-height: 100vh;
    text-align: center;
    @include mq-up(md) {
        text-align: left;
    }
}

.p-keyviasual_image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    @include mq-up(md) {
        max-height: 100vh;
    }
}

.p-tagline-en {
    position: absolute;
    bottom: -80px;
    z-index: 9999;
    width: 100%;
    line-height: 1.5;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    color: $main;
    @include mq-down(xs) {
        line-height: 1.8;
        font-size: 50px;
    }
    @include mq-up(md) {
        right: 0;
        bottom: 8%;
    }
    @include mq-up(lg) {
        line-height: 1.25;
        font-size: 100px;
    }
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        width: 100%;
        height: 80px;
        text-align: center;
        @include mq-up(lg) {}
    }
    &::before {
        top: 5px;
        background: #fff linear-gradient(90deg, $main 0%, $main 4%, #fff 4%, #fff 100%);
        @include mq-down(xs) {
            top: 5px;
        }
        @include mq-up(lg) {
            top: 24px;
        }
    }
    &::after {
        bottom: 5px;
        background: #fff linear-gradient(-90deg, $accent 0%, $accent 4%, #fff 4%, #fff 100%);
        @include mq-down(xs) {
            bottom: 5px;
        }
        @include mq-up(lg) {
            bottom: 24px;
        }
    }
}

.p-tagline-jp {
    position: absolute;
    bottom: -135px;
    z-index: 9999;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: $main;
    @media screen and (max-width: 506px) {
        bottom: -145px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        z-index: -1;
        right: 0;
        width: 100%;
        height: 80px;
        background: #fff linear-gradient(90deg, $primary 0%, $primary 4%, #fff 4%, #fff 100%);
        text-align: center;
        @media screen and (max-width: 506px) {
            bottom: -20px;
        }
        @include mq-up(lg) {}
    }
}

.l-introduction {
    padding: 230px 5% 0;
    background-color: rgba(#fff, .8);
}

.p-introduction-first {
    position: relative;
    z-index: auto;
    max-width: 480px;
    margin: 0 auto 40px;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 24px;
    color: $main;
    strong {
        font-size: 32px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 36px;
        z-index: -1;
        width: 315px;
        height: 12px;
        background-color: $sub-color;
    }
}

.p-introduction-second {
    position: relative;
    z-index: auto;
    max-width: 480px;
    margin: auto;
    padding-bottom: 60px;
    @include text;
    @include text-shadow;
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: -70px;
        left: 10px;
        width: 120px;
        height: 120px;
        transform: rotate(-15deg);
        background: url(./../../../images/philippines.png) no-repeat;
        background-size: contain;
        vertical-align: middle;
        opacity: .45;
    }
}


/*============================
#problem.l-problem
============================*/

.l-problem {}

.c-titel {
    position: relative;
    z-index: 9999;
    width: 100%;
    padding: 16px 10%;
    background-color: $accent;
    color: $main;
    h2 {
        margin-bottom: 4px;
        line-height: 1.2;
        letter-spacing: 2px;
        font-weight: 900;
        font-style: italic;
        font-size: 32px;
    }
    h3 {
        line-height: 1.4;
        letter-spacing: 2.8px;
        font-weight: bold;
        font-size: 18px;
    }
}

.p-problem {
    position: relative;
    width: 100%;
    padding: 40px 5% 60px;
    background-color: rgba(#fff, .8);
    line-height: 4;
    font-weight: bold;
    text-align: center;
    color: $main;
}

.p-problem_list {
    position: relative;
    max-width: 480px;
    margin: auto;
}

.p-problem_list::before,
.c-card::before {
    position: absolute;
    z-index: auto;
    bottom: -90px;
    display: block;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    color: $sub-color;
}

.p-problem_list:nth-child(odd)::before {
    left: 0;
    text-align: left;
}

.p-problem_list:nth-child(even)::before {
    right: 0;
    text-align: right;
}

.p-problem_list:nth-child(1)::before,
.c-card:nth-child(1)::before {
    content: "1";
}

.p-problem_list:nth-child(2)::before,
.c-card:nth-child(2)::before {
    content: "2";
}

.p-problem_list:nth-child(3)::before,
.c-card:nth-child(3)::before {
    content: "3";
}

.p-problem_list:nth-child(4)::before,
.c-card:nth-child(4)::before {
    content: "4";
}

.c-card::before {
    position: absolute;
    z-index: -1;
    padding: -1px;
    bottom: -160px;
    display: block;
    font-weight: 900;
    font-style: italic;
    font-size: 240px;
    color: $sub-color;
}

.p-problem_cards {
    position: relative;
    top: -25px;
    z-index: 9999;
    max-width: 480px;
    margin: auto;
}

.c-card {
    position: relative;
    z-index: 9999;
    width: 80%;
    margin: 0 auto 16px;
}

.c-card_title {
    height: 50px;
    background: $main;
    line-height: 3;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.c-card_body {
    margin: 0 2.5%;
    padding: 7% 5%;
    background-color: #fff;
}

.c-card_body_title {
    margin-bottom: 24px;
    line-height: 1.68;
    letter-spacing: 1.4px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: $main;
}

.c-card_body_text {
    @include text;
}


/*============================
#solution.l-solution
============================*/

.l-solution {
    position: relative;
    background: $main url(./../../../images/bg-2.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.p-solution_container {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    background-color: rgba(#fff, .8);
}

.p-solution_content {
    position: relative;
    padding-top: 40px;
    width: 90%;
    max-width: 380px;
    margin: auto;
    &:nth-child(1) {
        & .p-solution_content_image {
            position: relative;
            left: 60px;
        }
        & .p-solution_content_text {
            transform: translateY(-80px);
        }
        & .p-solution_content_body_title {
            margin-bottom: 20px;
            &::after {
                content: "01";
                position: absolute;
                right: 0;
                bottom: 0px;
                z-index: 9999;
            }
        }
        & .p-solution_content_text {
            top: -50px;
            &::before {
                bottom: -40px;
            }
        }
        & .p-solution_content_body {
            position: relative;
            bottom: 50px;
        }
        & .p-solution_content_tag {
            position: absolute;
            right: -130px;
            bottom: 510px;
        }
    }
    &:nth-child(2) {
        & .p-solution_content_image {
            position: absolute;
            top: -10px;
            left: 60px;
        }
        & .p-solution_content_body_title {
            margin: 40px 16px 28px 0;
            text-align: right;
            &::after {
                content: "02";
                position: absolute;
                left: -35px;
                bottom: -50px;
                z-index: 9999;
            }
        }
        & .p-solution_content_text {
            position: relative;
            bottom: 50px;
            &::before {
                top: -50px;
            }
        }
        & .p-solution_content_tag {
            position: absolute;
            right: -170px;
            bottom: 470px;
        }
    }
    &:nth-child(3) {
        & .p-solution_content_image {
            position: absolute;
            left: -20px;
        }
        & .p-solution_content_text {
            left: 225px;
            &::before {
                position: absolute;
                left: -175px;
                top: -40px;
            }
        }
        & .p-solution_content_body_title {
            margin: 100px 25px 28px 0;
            &::after {
                content: "03";
                position: absolute;
                left: 160px;
                bottom: -15px;
                z-index: 9999;
            }
        }
        & .p-solution_content_tag {
            position: absolute;
            right: -130px;
            bottom: 480px;
        }
    }
    &:nth-child(4) {
        & .p-solution_content_image {
            top: 20px;
            left: 55px;
        }
        & .p-solution_content_text {
            top: -230px;
            &::before {
                bottom: -40px;
            }
        }
        .p-solution_content_body {
            padding-bottom: 30px;
            margin-bottom: 0;
        }
        & .p-solution_content_body_title {
            margin: -110px 25px 20px 0;
            padding-left: 15px;
            text-align: center;
            &::after {
                content: "04";
                position: absolute;
                left: 190px;
                bottom: 270px;
                z-index: 9999;
            }
        }
        & .p-solution_content_tag {
            position: absolute;
            right: -145px;
            bottom: 540px;
        }
    }
}

.p-solution_content_image {
    position: relative;
    z-index: 500;
    width: 230px;
    height: 230px;
}

.p-solution_content_text {
    position: relative;
    padding-left: 0px;
    line-height: 2;
    writing-mode: vertical-rl;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 9px;
    color: #fff;
    &::before {
        content: "";
        position: absolute;
        bottom: -16px;
        left: -50%;
        z-index: -1;
        display: block;
        width: 230px;
        height: 230px;
        background-color: $main;
        writing-mode: initial;
        &:nth-child(1) {
            left: 0;
        }
    }
}

.p-solution_content_tag {
    position: relative;
    transform: rotate(90.028deg);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 9px;
    color: $main;
    @include mq-down(xs) {
        display: none;
    }
}

.p-solution_content_body {
    width: 90%;
    margin: 0 auto 30px;
}

.p-solution_content_body_title {
    position: relative;
    z-index: 9999;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 18px;
    color: $main;
    &::after {
        position: absolute;
        z-index: 9999;
        display: block;
        writing-mode: initial;
        font-style: italic;
        font-size: 100px;
        color: $sub-color;
    }
}

.p-solution_content_body_text {
    line-height: 1.58;
    letter-spacing: .8px;
}

.p-solution_conclusion {
    position: relative;
    z-index: auto;
    padding-bottom: 60px;
    background-color: rgba(#fff, .8);
    letter-spacing: 1.8px;
    line-height: 1.68;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 55px;
        z-index: -1;
        width: 220px;
        height: 16px;
        margin: auto;
        background-color: $accent;
    }
}


/*============================
#about.l-about
============================*/

.l-about {
    position: relative;
    z-index: auto;
    background-color: #fff;
}

.p-about_container {
    position: relative;
    z-index: auto;
    width: 100%;
    max-width: 480px;
    margin: 0 auto 120px;
}

.p-about_container_texttag {
    display: block;
    position: absolute;
    right: 0;
    z-index: 9999;
    width: 300px;
    letter-spacing: 2px;
    line-height: 2;
    text-align: center;
    font-weight: bold;
    color: $main;
    font-size: 24px;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        width: 300px;
        height: 40px;
        background-color: rgba(#1BB3D0, .8);
    }
    &::before {
        top: 3px;
    }
    &::after {
        bottom: 3px;
    }
    @media screen and (min-width: 400px) {
        top: 40px;
    }
}

.p-about_container_image {
    position: relative;
    top: 62px;
    left: -5px;
    z-index: 1000;
    width: 102%;
    padding-bottom: 500px;
    margin: auto;
    @media screen and (min-width: 400px) {
        top: 102px;
    }
}

.p-about_description {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 480px;
    margin: auto;
    @media screen and (min-width: 400px) {
        top: 540px;
    }
    @media screen and (min-width: 440px) {
        top: 580px;
    }
}

.p-about_description_highlight {
    position: absolute;
    z-index: auto;
    display: block;
    font-weight: bold;
    &:nth-child(1) {
        top: -20px;
        right: 16px;
        width: 20px;
        line-height: 1.6;
        font-size: 24px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 35px;
            right: -8px;
            z-index: -1;
            width: 70%;
            height: 93%;
            margin: auto;
            background-color: $accent;
        }
    }
    &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 0;
        padding-right: 15%;
        @include text;
        & em {
            display: inline;
            width: 100%;
            background-image: linear-gradient(transparent 80%, $accent 80%);
        }
    }
}

.p-about_description_text {
    position: absolute;
    top: 160px;
    padding-right: 15%;
    @include text;
}

.p-about_environment_image-australia {
    position: relative;
    left: 0;
    bottom: 0;
    width: 75%;
    max-width: 480px;
    margin: auto;
}

.p-about_environment {
    position: relative;
    z-index: 9999;
    max-width: 480px;
    margin: auto;
    padding-bottom: 700px;
    &::before {
        content: "";
        position: absolute;
        top: 0%;
        right: 0;
        z-index: 9999;
        display: block;
        width: 100px;
        min-height: 100px;
        background: url(./../../../images/flags.png) no-repeat;
        background-size: contain;
    }
    @media screen and (min-width: 400px) {
        padding-bottom: 650px;
    }
    @media screen and (min-width: 480px) {
        padding-bottom: 590px;
        &::before {
            top: 10px;
            right: -25px;
            width: 160px;
        }
    }
    @media screen and (min-width: 550px) {
        padding-bottom: 550px;
        top: -60px;
    }
}

.p-about_environment_highlight-top {
    position: relative;
    z-index: -1;
    padding: 24px 10% 24px 0;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 190px;
        height: 110px;
        margin: auto;
        background-color: $sub-color;
    }
}

.p-about_environment_image-top {
    position: relative;
    z-index: -1;
    width: 90%;
}

.p-about_environment_image-right {
    position: absolute;
    top: 330px;
    right: 0;
    width: 65%;
    max-width: 240px;
    @media screen and (min-width: 400px) {
        top: 380px;
    }
    @media screen and (min-width: 480px) {
        top: 420px;
    }
}

.p-about_environment_image-left {
    position: absolute;
    top: 450px;
    right: 60%;
    width: 40%;
    max-width: 130px;
    margin: auto;
    @media screen and (min-width: 400px) {
        top: 480px;
        right: 50%;
    }
    @media screen and (min-width: 480px) {
        top: 500px;
        right: 45%;
    }
}

.p-about_environment_highlight-bottom {
    position: absolute;
    right: 0;
    top: 610px;
    right: 10%;
    text-align: right;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    color: $main;
    @media screen and (min-width: 400px) {
        top: 650px;
    }
}

.p-about_environment_text {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 480px;
    margin: auto;
    @media screen and (min-width: 400px) {
        top: 700px;
    }
}

.l-sales {
    background: $main url(./../../../images/bg-3.jpg) no-repeat center center;
    background-size: cover;
}

.p-sales_title {}

.p-sales_button.button {}


/*============================
#instructor.l-instructor
============================*/

.l-instructor {}

.p-instructor_texttag {}

.p-instructor-yumi {}

.p-instructor_image-yumi {}

.p-about_description-yumi {}

.p-instructor_yumi {}

.p-instructor_position {}

.p-about_instructor_description {}

.p-instructor-scott {}

.p-instructor_image-scott {}

.p-about_description-scott {}

.p-instructor_scott {}


/*============================
#price.l-price
============================*/

.l-price {}

.c-titel-price {}

.p-price-table {}

.p-price-table_image {}

.p-price-campaign {}

.p-price-campaign_image {}

.p-price-refund {}

.p-price-refund_image {}

.p-price_button.button {}


/*============================
#form.l-form
============================*/

.l-form {}

.p-from_title.is-show {}

.p-form {}

.element_wrap.is-show {}

.c-bach-entry {}

.l-fotter {}

.p-fotter_sns {}

.p-fotter_sns_icon {}

.p-fotter_target {}

.p-fotter_target_link {}

.p-fotter_gototop {}

.p-fotter_gototop_link {}

.copyright {}
