/*============================
#is-scrolled.l-header
============================*/

.l-header {}

.c-nav {}

.c-nav_logo {}

.logo {}


/*============================
#is-menuclose.c-nav_toggle
============================*/

.c-nav_toggle {}

.menu_tag {}

.menu_button {}


/*============================
#is-open.c-menu
============================*/

.c-menu {}

.c-menu_body {}

.menu_link {}

.menu_entry {}


/*============================
#loader.l-loading
============================*/

.l-loading {
    display: none;
}

header {
    display: none;
}


/*============================
#loader-text.p-loading.tagline
============================*/

.p-loading.tagline {}

.l-keyviasual {
    position: relative;
    margin: auto;
    @include mq-up(md) {
        top: 56px;
        right: 10%;
    }
    @include mq-up(lg) {
        left: 0;
        right: 0;
    }
}

.p-keyviasual {
    height: inherit;
    max-width: 1280px;
    max-height: 100vh;
    text-align: center;
    @include mq-up(md) {
        text-align: left;
    }
}

.p-keyviasual_image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    @include mq-up(md) {
        max-height: 100vh;
    }
}

.p-tagline-en {
    position: absolute;
    bottom: -80px;
    z-index: 9999;
    width: 100%;
    line-height: 1.5;
    text-align: center;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    color: $main;
    @include mq-down(xs) {
        line-height: 1.8;
        font-size: 50px;
    }
    @include mq-up(md) {
        right: 0;
        bottom: 8%;
    }
    @include mq-up(lg) {
        line-height: 1.25;
        font-size: 100px;
    }
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        width: 100%;
        height: 80px;
        text-align: center;
        @include mq-up(lg) {}
    }
    &::before {
        top: 5px;
        background: #fff linear-gradient(90deg, $main 0%, $main 4%, #fff 4%, #fff 100%);
        @include mq-down(xs) {
            top: 5px;
        }
        @include mq-up(lg) {
            top: 24px;
        }
    }
    &::after {
        bottom: 5px;
        background: #fff linear-gradient(-90deg, $accent 0%, $accent 4%, #fff 4%, #fff 100%);
        @include mq-down(xs) {
            bottom: 5px;
        }
        @include mq-up(lg) {
            bottom: 24px;
        }
    }
}

.p-tagline-jp {
    position: absolute;
    bottom: -135px;
    z-index: 9999;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: $main;
    @media screen and (max-width: 538px) {
        bottom: -145px;
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        z-index: -1;
        right: 0;
        width: 100%;
        height: 80px;
        background: #fff linear-gradient(90deg, $primary 0%, $primary 4%, #fff 4%, #fff 100%);
        text-align: center;
        @media screen and (max-width: 538px) {
            bottom: -20px;
        }
        @include mq-up(lg) {}
    }
}

.l-introduction {
    padding: 230px 5% 0;
    background-color: rgba(#fff, .8);
}

.p-introduction-first {
    position: relative;
    z-index: 9999;
    margin-bottom: 40px;
    letter-spacing: 2.5px;
    font-weight: bold;
    font-size: 24px;
    color: $main;
    strong {
        font-size: 32px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 36px;
        z-index: -1;
        width: 315px;
        height: 12px;
        background-color: $sub-color;
    }
}

.p-introduction-second {
    position: relative;
    z-index: 1;
    padding-bottom: 80px;
    line-height: 1.68;
    letter-spacing: 1.6px;
    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: -70px;
        left: 10px;
        width: 120px;
        height: 120px;
        transform: rotate(-15deg);
        background: url(./../../../images/philippines.png) no-repeat;
        background-size: contain;
        vertical-align: middle;
        opacity: .45;
    }
}


/*============================
#problem.l-problem
============================*/

.l-problem {}

.c-titel {
    width: 100%;
    padding: 16px 10%;
    background-color: $accent;
    color: $main;
    h2 {
        margin-bottom: 4px;
        line-height: 1.2;
        letter-spacing: 2px;
        font-weight: 900;
        font-style: italic;
        font-size: 32px;
    }
    h3 {
        line-height: 1.4;
        letter-spacing: 2.8px;
        font-weight: bold;
        font-size: 18px;
    }
}

.is-show {}

.p-problem {
    width: 100%;
    background-color: rgba(#fff, .8);
}

.p-problem_cards.is-show {}

.c-card {}

.c-card_title {}

.c-card_body {}

.c-card_body_title {}

.c-card_body_text {}


/*============================
#solution.l-solution
============================*/

.l-solution {
    background: $main url(./../../../images/bg-2.jpg) no-repeat center center;
    background-size: cover;
}

.p-solution_container.is-show {}

.p-solution_content {}

.p-about_content_image {}

.p-solution_content_text {}

.p-solution_content_tag {}

.p-solution_content_body {}

.p-solution_content_body_title {}

.p-asolution_content_body_text {}

.p-solution_content_image {}

.p-solution_content_body_text {}

.p-solution_conclusion {}


/*============================
#about.l-about
============================*/

.l-about {}

.p-about_container {}

.p-about_container_texttag {}

.p-about_container_image {}

.p-about_description {}

.p-about_description_highlight {}

.p-about_description_text {}

.p-about_environment {}

.p-about_environment_highlight-left {}

.p-about_environment_image-top {}

.p-about_environment_image-right {}

.p-about_environment_image-left {}

.p-about_environment_highlight-right {}

.p-about_environment_text {}

.l-sales {
    background: $main url(./../../../images/bg-3.jpg) no-repeat center center;
    background-size: cover;
}

.p-sales_title {}

.p-sales_button.button {}


/*============================
#instructor.l-instructor
============================*/

.l-instructor {}

.p-instructor_texttag {}

.p-instructor-yumi {}

.p-instructor_image-yumi {}

.p-about_description-yumi {}

.p-instructor_yumi {}

.p-instructor_position {}

.p-about_instructor_description {}

.p-instructor-scott {}

.p-instructor_image-scott {}

.p-about_description-scott {}

.p-instructor_scott {}


/*============================
#price.l-price
============================*/

.l-price {}

.c-titel-price {}

.p-price-table {}

.p-price-table_image {}

.p-price-campaign {}

.p-price-campaign_image {}

.p-price-refund {}

.p-price-refund_image {}

.p-price_button.button {}


/*============================
#form.l-form
============================*/

.l-form {}

.p-from_title.is-show {}

.p-form {}

.element_wrap.is-show {}

.c-bach-entry {}

.l-fotter {}

.p-fotter_sns {}

.p-fotter_sns_icon {}

.p-fotter_target {}

.p-fotter_target_link {}

.p-fotter_gototop {}

.p-fotter_gototop_link {}

.copyright {}
