
.l-problem {
    position: relative;
    .c-titel {
        top: 0;
    }
}
.p-problem {
    position: relative;
    width: 100%;
    padding: 40px 5% 60px;
    background-color: rgba(#fff, .8);
    line-height: 4;
    font-weight: bold;
    text-align: center;
    color: $main;
    @include mq-up(lg) {
        position: relative;
        padding: 340px 0 160px 20%;
        background: linear-gradient(90deg, rgba(#fff, 0) 0%, rgba(#fff, 0) 10%, rgba(#fff, .8) 10%, rgba(#fff, .8) 100%);
    }
}

.p-problem_list {
    position: relative;
    max-width: 480px;
    margin: auto;
    letter-spacing: 2px;
    @include mq-up(lg) {
        max-width: 650px;
        margin: inherit;
        font-size: 20px;
    }
}

.p-problem_list::before,
.c-card::before {
    position: absolute;
    z-index: auto;
    bottom: -90px;
    display: block;
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    color: $sub-color;
    @include mq-up(lg) {
        font-size: 100px;
    }
}

.p-problem_list:nth-child(odd)::before {
    left: 0;
    text-align: left;
    @include mq-up(lg) {
        top: -160px;
        left: 16px;
    }
}

.p-problem_list:nth-child(even)::before {
    right: 0;
    text-align: right;
    @include mq-up(lg) {
        top: -160px;
        right: 16px;
    }
}

.p-problem_list:nth-child(1)::before,
.c-card:nth-child(1)::before {
    content: "1";
}

.p-problem_list:nth-child(2)::before,
.c-card:nth-child(2)::before {
    content: "2";
}

.p-problem_list:nth-child(3)::before,
.c-card:nth-child(3)::before {
    content: "3";
}

.p-problem_list:nth-child(4)::before,
.c-card:nth-child(4)::before {
    content: "4";
}

.c-card::before {
    position: absolute;
    z-index: -1;
    padding: -1px;
    bottom: -160px;
    display: block;
    font-weight: 900;
    font-style: italic;
    font-size: 240px;
    color: $sub-color;
    @include mq-up(lg) {
        bottom: -240px;
        font-size: 500px;
    }
}

@include mq-up(lg) {
    .c-card:nth-child(1)::before {
        top: 140px;
        left: -220px;
    }
    .c-card:nth-child(2)::before {
        top: 240px;
        right: -220px;
    }
    .c-card:nth-child(3)::before {
        top: 320px;
        left: -220px;
    }
    .c-card:nth-child(4)::before {
        top: 280px;
        right: -220px;
    }
}

.p-problem_cards {
    position: relative;
    top: -25px;
    z-index: 9999;
    max-width: 480px;
    margin: auto;
    @include mq-up(lg) {
        top: -130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
    }
}

.c-card {
    position: relative;
    z-index: 9999;
    width: 80%;
    max-width: 400px;
    margin: 0 auto 16px;
    @include mq-up(lg) {
        width: 50%;
        &:nth-child(2) {
            margin-top: 80px;
        }
        &:nth-child(3) {
            margin-top: -220px;
        }
        &:nth-child(4) {
            margin-top: 20px;
        }
    }
}

.c-card_title {
    height: 50px;
    background: $blue;
    line-height: 3;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    @include mq-up(lg) {
        height: 100px;
        line-height: 4.3;
        font-size: 24px;
    }
}

.c-card_body {
    margin: 0 2.5%;
    padding: 7%;
    background-color: #fff;
    @include mq-up(lg) {
        padding: 7% 5%;
    }
}

.c-card_body_title {
    margin-bottom: 24px;
    line-height: 1.68;
    letter-spacing: 1.4px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: $blue;
    @include mq-up(lg) {
        font-size: 20px;
    }
}

.c-card_body_text {
    @include text;
    //@include text-shadow;
}

