/*****-------------------------------
    Header
-------------------------------*****/

.header-scrolled {
    position: fixed !important;
    transition: .3s;
    @media screen and (min-width: 770px) {
        .menu_entry::before, .menu_entry::after {
            display: none;
        }
    }
}

.p-keyviasual {
    -webkit-animation: keyviasual 7s;
    animation: keyviasual 7s;
}

.p-tagline-en, .p-tagline-jp {
     -webkit-animation: text-tag 7s;
    animation: text-tag 7s;
}
/*****-------------------------------
    Toggle
-------------------------------*****/
.c-nav_toggle {
    position: fixed;
    z-index: 999999;
    button {
        background-color: transparent;
    }
    img {
        position: absolute;
        top: -50px;
        left: 20px;
        display: none;
    }
    @include mq-up(lg) {
        display: none;
        transition: .8s;
    }
}

#is-open {
    display: block;
    @media screen and (max-width: 770px) {
        position: fixed;
        top: 0;
        z-index: 9999;
        display: none;
        width: 100vw;
        height: 100vh;
        padding-top: 25%;
        text-align: center;
        background-color: rgba(#fff, .9);
    }
}
.menu__button {
    position: absolute;
    top: -20px;
    right: 0;
    display: block;
    width: 90px;
    height: 44px;
}

.open-anime.c-nav_toggle::before {
    animation: menu-bar01 .75s forwards;
}

.open-anime {
    .c-menu {
        animation: test .8s;
    }
}

.open-anime.c-nav_toggle {
    transition: .8s;
}

.c-menu {
    transform: translateX(0);
}

.close-anime .c-menu {
    animation: test .8s;
}

.close-anime.c-nav_toggle {
    transition: .8s;
    & img {
        display: block;
        background-color: transparent;
    }
    span {
        display: none;
    }
}
/*****-------------------------------
    Scroll
-------------------------------*****/
.motion-txt {
    display: inherit;
    position: relative;
    overflow: hidden;
}

.motion-txt:after {
    content: '';
    position: absolute;
    z-index: 9999999999999;
    opacity: 1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $blue;
    transform: translate3d(-101%, 0, 0);
}

.js-scroll.show .motion-txt:after {
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, 0, 0);
}

.js-scroll.done .motion-txt:after {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(103%, 0, 0);
}

.motion-txt .motion-inner {
    display: inline-block;
    opacity: 0;
}

.js-scroll.done .motion-txt .motion-inner {
    opacity: 1;
}

/*****-------------------------------
    Loading style
-------------------------------*****/

.p-loading {
    display: flex;
    p {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 320px;
        height: 40px;
        margin: auto;
        line-height: 2;
        text-align: center;
        font-weight: bold;
        font-style: italic;
        font-size: 30px;
        color: $main;
        animation: text-down 6.3s;
        @include mq-down(md) {
            bottom: 20%;
            font-size: 24px;
        }
        @include mq-up(lg) {
            padding-bottom: 190px;
            max-width: 800px;
            font-size: 60px;
        }
    }
}

.p-loading::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 350px;
    height: 50px;
    margin: auto;
    background-color: #fff;
    content: "";
    animation: text-in 7s ease-in-out .6s;
    @include mq-down(md) {
        bottom: 20%;
        
    }
    @include mq-up(lg) {
        width: 800px;
        height: 120px !important;
        animation: text-in-lg 5s ease-in-out .6s;
    }
}


/*****-------------------------------
    menu
-------------------------------*****/




/*****-------------------------------
    Animations (keyframes)
-------------------------------*****/


/* --- loding --- */

@keyframes text-in {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(120px);
    }
    50% {
        transform: translateX(450px);
    }
    100% {
        transform: translateX(450px);
    }
}

@keyframes text-in-lg {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(210px);
    }
    50% {
        transform: translateX(800px);
    }
    100% {
        transform: translateX(800px);
    }
}

@keyframes text-down {
    67% {
        top: 0;
        opacity: .8;
    }
    100% {
        top: 50px;
        opacity: 0;
    }
}


/* --- show keyviasual --- */

@keyframes keyviasual {
    0% {
        transform: translateY(25px);
        opacity: 0;
    }
    80% {
        transform: translateY(25px);
        opacity: 0;

    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes text-tag {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    80% {
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}