/*****-------------------------------
    Utility
-------------------------------*****/

.text-right {}

.text-left {}

.qa {
    font-size: 60px;
    letter-spacing: 13px !important;
}

%gr-gb {
    background: linear-gradient(to right, #00d2ff, #3a7bd5);
}
