/*****-------------------------------
    Utility
-------------------------------*****/

.text-right {}

.text-left {}

/*****-------------------------------
    Loading style
-------------------------------*****/

.p-loading {
    display: flex;
    img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 320px;
        margin: auto;
        animation: text-down 6.3s;
        @include mq-down(md) {
            bottom: 20%;
        }
        @include mq-up(lg) {
            max-width: 800px;
        }
    }
}

.p-loading::before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 350px;
    height: 50px;
    margin: auto;
    background-color: #fff;
    content: "";
    animation: text-in 7s ease-in-out .6s;
    @include mq-down(md) {
        bottom: 20%;
    }
    @include mq-up(lg) {
        width: 800px;
        height: 100px;
        animation: text-in-lg 5s ease-in-out .6s;
    }
}
